{{#each information}}
<div>
    <label> Booking ID : {{bookingId}} </label>
    <br>
    <label> Number Of Traveller : {{numberOfTraveller}}</label>
    <br>
    <label> Check in Date : {{checkin}}</label>
    <br>
    <label> Check out Date: {{checkout}}</label>
    <br>
    <label> Total Price ( {{currency}} ) : {{price}}</label>
    <br>
    <label> Payment Status : {{paymentStatus}}</label>
    <br>
    <hr>
</div>
{{/each}}